# Ignore files and directories created by Node.js
node_modules/

# Ignore build output
build/

# Ignore editor directories
.vscode/

# Ignore package-lock.json file (Node.js)
package-lock.json

# Ignore environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore backend dependencies
/backend/node_modules/

# Ignore frontend dependencies
/frontend/node_modules/

# Ignore backend build output
/backend/build/

# Ignore frontend build output
/frontend/build/

# Ignore log files
*.log

.DS_Store